# Dependencies
/node_modules

# Prisma
/prisma/dev.db # If you're using a local SQLite database
/prisma/migrations
/generated/prisma
.env # Environment variables

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS specific
.DS_Store
.vscode